@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-100.otf);
    font-weight: 100;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-300.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-300.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-300-italic.otf);
    font-style: italic;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-500.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-700.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/museosans-700-italic.otf);
    font-weight: bold;
    font-style: italic;
